{% extends "_base.html" %}

{% block title %}{{record.title}}{% endblock title %}

{% block content %}
<div class="container" style="padding-top: 20px";>
    <div class="row">
        <div class="col">
            {% if record.cover_image  %}
                <img class="recordcover" src="{{ record.cover_image.url }}" alt="{{ record.title }}">
            {% endif %}
        </div>
        <div class="col">
            <h5>Artist(s): {{ record.artists_str }}</h5>
            <h5>Title: {{record.title}}</h5>
            <p>---</p>
            <p>Genre: {{ record.genre.genre_name }}</p>
            <p>Label(s): {{ record.labels_str }}</p>
            <p>---</p>
            <p>Format: {{ record.record_format.format_name }}</p>
            <p>Color: {{ record.color }}</p>
            <p>Year: {{ record.year }}</p>
            <p>Remarks: {{ record.remarks }}</p>
            <p>---</p>
            <p>Purchase Date: {{ record.purchase_date }}</p>
            <p>Price: {{record.price}} </p>
            <p>---</p>
            <p>Rating: {{ record.rating }}</p>
            <p>Favourite Song: {{ record.favourite_song }}</p>
            <p>Review: {{ record.review }}</p>
            <p>---</p>
            <p>Digi Status: {{ record.is_digitized }}</p>
            <p>Credit Value: {{ record.credit_value }}</p>
            {% if record.discogs_id  %}
                <p>---</p>
                <p><a href="{{ record.get_discogs_url }}" target="_blank" rel="noopener noreferrer">Discogs release {{ record.discogs_id }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
    